body {
  align-items: center;
  background: #FEFBE9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner img {
  margin: 0 auto;
  border-radius: 5px;
  border: 3px solid;
  border-color: #E1EEDD;
}

.form {
  background-color: #E1EEDD;
  width: 80%;
  font-family: 'Golos Text', sans-serif;
}

.formulario-input {
  margin: 15px auto;
  width: 50%;
  height: 60px;
  padding: 20px;
  border-radius: 5px;
  background-color: #9DC08B;
}

.formulario-input label {
  font-size: 15px;
  display: block;
}

.formulario-input input {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formulario-input input:focus {
  outline: 0;
}

.formulario-input select {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formulario-input select {
  outline: 0;
}

.cards {
  background-color: #E1EEDD;
  width: 80%;
  font-family: 'Golos Text', sans-serif;
  margin: 10px auto;
}

.card-jogador{
  background-color: #9DC08B;
  /*width: 1215px;*/
  width: 20%;
  padding: 1%;
  margin: 1%;
  display: inline-block;
  border-radius: 5px;
}

.imagem{
  width: 100%;
  height: 100%;
}

#bt-enviar-form{
  background-color: #9DC08B;
  width: 15%;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-left: 284px;
}

#bt-enviar-form:hover {
  background-color: #00ffc3;
}
footer{
  background-color: rgb(47, 49, 63);
  width: 80%;
  height: 50px;
  color: aliceblue;
}

footer p {
  margin: 15px 500px;
}